.countBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons > button {
  margin: 20px;
  font-size: 20px;
}

table,
td,
th {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}
